<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CustomToolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CustomToolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
  <CustomToolbox.Properties.Settings>
    <setting name="NetPlaylistUnsupportedDomains" serializeAs="String">
      <value>onedrive.live.com;gothuedutw-my.sharepoint.com;twitcasting.tv;drive.google.com</value>
    </setting>
    <setting name="MpvNetLibVolume" serializeAs="String">
      <value>100</value>
    </setting>
    <setting name="MpvNetLibPlaybackSpeedIndex" serializeAs="String">
      <value>4</value>
    </setting>
    <setting name="MpvNetLibNoVideo" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="MpvNetLibYTQualityIndex" serializeAs="String">
      <value>5</value>
    </setting>
    <setting name="PlaylistAppendSeconds" serializeAs="String">
      <value>300</value>
    </setting>
    <setting name="YtDlpCheckTime" serializeAs="String">
      <value />
    </setting>
    <setting name="YtDlpCookieFromBrowser" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="YtDlpBrowserName" serializeAs="String">
      <value>chrome</value>
    </setting>
    <setting name="YtDlpBrowserProfilePath" serializeAs="String">
      <value />
    </setting>
    <setting name="YtDlpUseAria2" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="AppLangCode" serializeAs="String">
      <value />
    </setting>
    <setting name="NetPlaylistAutoLyric" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="MpvNetLibLogVerbose" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="DiscordRichPresence" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="UserAgent" serializeAs="String">
      <value>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36</value>
    </setting>
    <setting name="OpenCCS2TWP" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="YtDlpEmbedMetadata" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="YtDlpLiveFromStart" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="YtDlpWaitForVideo" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="YtDlpSplitChapters" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="YtDlpFormat" serializeAs="String">
      <value>b/bv*+ba</value>
    </setting>
    <setting name="FFmpegHardwareAccelerationType" serializeAs="String">
      <value />
    </setting>
    <setting name="FFmpegGpuDeviceIndex" serializeAs="String">
      <value>0</value>
    </setting>
    <setting name="FFmpegEnableHardwareAcceleration" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="FFmpegApplyFontSetting" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="B23ClipListExcludedPhrases" serializeAs="String">
      <value>锐评;銳評</value>
    </setting>
    <setting name="FullDownloadFirst" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="DeleteSourceFile" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="MpvNetLibChromaKey" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="SecChUa" serializeAs="String">
      <value>"Chromium";v="128", "Not;A=Brand";v="24", "Google Chrome";v="128"</value>
    </setting>
    <setting name="UpdateSettings" serializeAs="String">
      <value>True</value>
    </setting>
  </CustomToolbox.Properties.Settings>
  </userSettings>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
  </runtime>
  <applicationSettings>
    <CustomToolbox.Properties.Settings>
      <setting name="DiscrodApplicationID" serializeAs="String">
        <value>1039536928221036576</value>
      </setting>
      <setting name="DiscrodMaxConnectionFailedCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="YtDlpWaitForVideoSeconds" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="YtDlpDefaultFormat" serializeAs="String">
        <value>b/bv*+ba</value>
      </setting>
      <setting name="YtDlpConcurrentFragments" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="YtDlpSubLangs" serializeAs="String">
        <value>all,-live_chat</value>
      </setting>
      <setting name="YtDlpEmbedSubs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FFmpegDefaultHardwareAccelerationType" serializeAs="String">
        <value>Intel</value>
      </setting>
      <setting name="PlaywrightScreenshotTimeout" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="PlaywrightSleepMs" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="PlaywrightDevSleepMs" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="PlaywrightSplitLength" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="PlaywrightChannelNameRowLimit" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="LOperationLimitLength" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="LibMpvArchiveFileName" serializeAs="String">
        <value>mpv-dev-x86_64-20211212-git-0e76372.7z</value>
      </setting>
      <setting name="Aria2Version" serializeAs="String">
        <value>1.37.0</value>
      </setting>
      <setting name="SecChUaMobile" serializeAs="String">
        <value>?0</value>
      </setting>
      <setting name="SecChUaPlatform" serializeAs="String">
        <value>Windows</value>
      </setting>
      <setting name="SecFetchDest" serializeAs="String">
        <value>document</value>
      </setting>
      <setting name="SecFetchMode" serializeAs="String">
        <value>navigate</value>
      </setting>
      <setting name="SecFetchSite" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="SecFetchUser" serializeAs="String">
        <value>?1</value>
      </setting>
      <setting name="WhisperBeamSize" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WhisperPatience" serializeAs="String">
        <value>-0.1</value>
      </setting>
      <setting name="WhisperBestOf" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WhisperModel" serializeAs="String">
        <value>Medium</value>
      </setting>
      <setting name="WhisperQuantization" serializeAs="String">
        <value>No Quantization</value>
      </setting>
      <setting name="WhisperSamplingStrategy" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="WhisperLanguage" serializeAs="String">
        <value>auto</value>
      </setting>
      <setting name="WhisperSpeedUp2x" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WhisperTranslateToEnglish" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WhisperExportWebVTTAlso" serializeAs="String">
        <value>False</value>
      </setting>
    </CustomToolbox.Properties.Settings>
  </applicationSettings>
</configuration>